# API testing workflow config for CI/CD on Github

name: API continuous integration

# Controls when the action will run. 
on:
  # Triggers the workflow for main branch on git push
  push:
    branches: [main]
  # Triggers workflow for or any branch on pull requests
  pull_request:
    branches:
      - '**'
  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow is defined of one or more jobs that can run sequentially or in parallel
jobs:
  api_test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_WITHOUT: production # skip installing production gem (pg)

    # Redis service container for caching
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Setup test database
        env: # define secrets in Github project -> settings -> secrets
            DB_FILENAME: ${{ secrets.DB_FILENAME }}
        run: RACK_ENV=test bundle exec rake db:migrate

      - name: Run all specs
        env: # define secrets in Github project -> settings -> secrets
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          DB_FILENAME: ${{ secrets.DB_FILENAME }}
          REPOSTORE_PATH: ${{ secrets.REPOSTORE_PATH }}
          API_HOST: ${{ secrets.API_HOST }}
          REDIS_URL: ${{ secrets.REDIS_URL }}
          WORKER_QUEUE_URL: ${{ secrets.WORKER_QUEUE_URL }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          rake worker:run:test &
          bundle exec rake spec:all